.outer-calc{
    display: block;
    position: relative;
    border: 2px solid;
    margin: 50px auto auto auto;
    height: 600px;
    width: 400px;
    text-align: center;
    border-radius: 2ch;
    background-color: darkgray;
    box-shadow: 10px 10px black ;
    font-family: 'Dosis', sans-serif;
    
}
.display-bar{
    display: block;
    width: 300px;
    border: 2px solid;
    height: 30px;
    border-radius: 2ch;
    margin: 10px auto auto auto;
    text-align: center;
    background-color: lightblue;
    box-shadow: 2px 2px black;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;    
}
.keyboard{
    display: block;
    border: 2px solid;
    border-radius: 1ch;
    width: 340px;
    margin: 20px auto auto 25px;
    height: 500px;
    background-color: rgb(100, 98, 98);
    box-shadow: 4px 4px black;
    position: absolute;
}
.key{
    height: 40px;
    width: 80px;
    border-radius: 2px;
    border: 2px solid;
    margin: 10px 10px 10px 10px;
    box-shadow: 2px 2px black;
    font-family: 'Dosis', sans-serif;
    font-size: 15px;
}
button:hover{
    background-color: lightgray;
}
.window{
    display: inline-block;
    position: relative;
}
.message1{
    display: block;
    float: left;
    margin: auto;
    border: 2px solid;
}
.message2{
    display: block;
    float: right;
    margin: auto;
    border: 2px solid;
}
.buttonClass{
    margin: 8px 10px 10px 8px;
}
button:active{
    box-shadow: none;
    margin: 10px 8px 10px 12px;
}
